.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
  
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Lobster&family=Nerko+One&family=Poppins:ital,wght@1,300;1,400&family=Rubik+Glitch&family=Rubik+Marker+Hatch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Lobster&family=Nerko+One&family=Poppins:ital,wght@1,300;1,400&family=Rubik+Glitch&family=Rubik+Marker+Hatch&display=swap');
.k:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
@keyframes newYearText {
  0% {
      color: yellow;

  }

  25% {
      color: dodgerblue;
  }

  50% {
      color: violet;
  }

  75% {
      color: green;
  }

  100% {
      color: crimson;
  }

}

.container{
  text-align: center;
  
 
 
  animation: newYearText 3s infinite;
text-shadow: 2px 2px 4px #000000;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.image {
  opacity: 1;
  display: block;
  width: 300px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.team {
  text-align: center
}

.section {
  padding: 60px 0
}

.section-title {
  text-align: center;
  font-size: 40px;
  position: relative;
  margin-bottom: 40px;
  margin-top: 0
}

.team .team-item {
  text-align: left;
  margin-bottom: 30px;
  overflow:hidden;
}

.team .team-item figure {
  position: relative;
  overflow: hidden
}

img {
  width: 100%
}

.team .team-item figure figcaption {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(9, 9, 9, .6);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease
}

.team .team-item figure figcaption .info {
  position: absolute;
  color: #fff;
  float: left;
  bottom: 80px;
  left: 90px;
 
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease
}

.team .team-item figure:hover figcaption {
  opacity: 1
}

.team .team-item figure:hover figcaption .info {
 
  margin-left: 0
}

.team .team-item figure figcaption .info h3 {
  font-size: 40px;
  
}

.team .team-item figure figcaption .info p {
  color: #fff;
  text-align: center;
}

.team .team-item figure:hover figcaption .social {
  margin-bottom: 0
}

.team .team-item figure figcaption .social {
  position: absolute;
  float: right;
  bottom: 28px;
  margin-bottom: 80px;
  right: 20px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease
}

.team .team-item figure figcaption .social a {
  color: #fff;
  font-size: 15px;
  width: 36px;
  height: 36px;
  background: #3f51b5;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  border-radius: 2px
}
.pagination {
  display: flex;
  justify-content: center;

}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}
.font{
  font-family: "Sofia",sans-serif;
  color:cornflowerblue;
}
.may{
  width: 50px;
  float: right ;
    display: block;
    position: absolute;
    left: 900px;
    
   bottom: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
