.lk{
 
  color: brown;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .bm:hover{
  color:red;
  transition: .2s;}
  .bm{
    color:cadetblue;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      top:30px;
      padding-right: 90px !important;
   }
   .ot{
    display: flex;
    color: #4f4f4f;
    justify-content: center;
   transition: .2s
   
   ;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   border-radius: 5px;
   }
   .ot:hover{
    color: darkgray;
   }
 .nav-link{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  top:50px !important;
 
 }
 .nav-link:hover{
  color:red;
  border-radius: 5px;
 
 }
 .dropdown{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
 
 }.dropdown:hover{
  color: red !important;
  transition: .2s;
 }
 .nav{
  display: flex;
  justify-content: center;
  
 }
 .bi{
  color:cadetblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    padding-right: 50px !important;
 }
 .mb{
  color:cadetblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
 }