
  
  

  .img{
    float: right ;
    display: block;
    position: absolute;
    right: -1050px;
    top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
 
  
  
  
.container-fluid{
  background-color:white !important;
  width: 1800px !important;
  height: 80px !important;
}.a{
  float: right ;
  display: block;
  position: absolute;
  right: 1070px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  top: 45px;
}
.image{
  
 display: flex;
 justify-content: center;
}

.i{
  float: right ;
  display: block;
  position: absolute;
  right: 950px;
  font-family:'Courier New', Courier, monospace
  ;
  font-size: 20px;
  color:cadetblue;
  top: 65px;
}.w{
  float: right ;
  display: block;
  position: absolute;
  right: -185px;
  font-family:'Courier New', Courier, monospace
  ;
  color:cadetblue;
  top: 30px;
}
.u{
  float: right ;
  display: block;
  position: absolute;
  right: 700px;
  font-family:'Courier New', Courier, monospace
  ;
  font-size: 20px;
  color:cadetblue;
  top: 65px;
}
.mh{
  float: right ;
  display: block;
  position: absolute;
  right: 50px;
  font-family:'Courier New', Courier, monospace
  ;
  top:0.2px
  ;
}
.kj{
  float: right ;
  display: block;
  position: absolute;
  right: 950px;
  font-family:'Courier New', Courier, monospace
  ;
  top:0px
  ;
}

.k{
  float: right ;
  display: block;
  position: absolute;
  right: 530px;
  font-family:'Courier New', Courier, monospace
  ;
  color:cadetblue;
  top: 30px;
}
.c{
  top: 65px;
  float: right ;
  display: block;
  position: absolute;
  right: 400px;
  font-family:'Courier New', Courier, monospace
  ;
  font-size: 20px;
  color:cadetblue;
 
}
.t{
  top: 20px;
  float: right ;
  display: block;
  position: absolute;
  right: 900px;
  font-family:'Courier New', Courier, monospace
  ;
  color:cadetblue;
 
}
.list-image{
  width: 100%;
  height:500px;
  display: flex;
  justify-content: space-between;
}
.list-image div{
  flex:1;

}
.list-image img{
  width:100%;
  height: 500px;
  object-fit: cover;

  object-position: center;

}
.control{
  position:absolute;
  top:50%;
  color:white;
  transform: translateY(-50%);
}
.prev{
  left: 10px;
}
.next{
  right:10px
}
.container-fluid{
  background-color:white !important;
  width: 1800px !important;
  height: 80px !important;}
.ma:hover{
  background-color: beige;
  color: black;
  transition: 0.2s;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.m0:hover{
  background-color:aquamarine;
  color:lightcoral;
  transition: 0.2s;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}














.bm{
  color:cadetblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top:30px;
    padding-right: 90px !important;
 }
 .bi{
  color:cadetblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top:30px;
    padding-right: 150px !important;
 }
 .lk{
 
  color: brown;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .cs{
  color:cadetblue;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .bm:hover{
  color:red;
  transition: .2s;}
  .fm{
    float: left;
    right: 90px;
  }
  .nvg{
    float: right ;
    display: block;
    position: absolute;
    left: 1210px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aqua;
    bottom: -25px;
   
  }
 
  