<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!--nhung link angularjs framework-->
    <script src="js/angular.min.js"></script>
</head>
<body ng-app="myapp">
    <h2>ng-filter Uppercase</h2>
    <div ng-controller="myctr">
       <h3>Student name :</h3>
       <ul>
        <li ng-repeat="x in list">{{x|uppercase}}</li>
       </ul>
       <hr>
       <p>search name : <input ng-model='search'></p>
       <hr>
       <h3>Result :</h3>
       <ul>
        <li ng-repeat="x in list|filter:search">{{x}}</li>
       </ul>
    </div>
    <script>
        angular.module("myapp",[]).controller("myctr",function($scope){
$scope.list=["nguyen loc","hoang ha","tran thang","tran quan"];
        });

    
    </script>
</body>
</html>